@import 'button'

@keyframes headerFixed 
  0%
    top: -100px
  100%
    top: 0
.header
  position: absolute
  top: 0
  left: 0
  z-index: 999
  width: 100%
  height: 99px
  margin-bottom: 113px
  &.fixed
    position: fixed
    z-index: 1000
    top: 0
    width: 100%
    // background: rgba(151, 71, 255, .8)
    background: rgba(0, 0, 0, .8)
    animation: headerFixed .6s
  &__container
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 1791px
    height: 100%
    margin: 0 auto
    padding: 0 15px
  &__right-block
    display: flex
    align-items: center
    justify-content: space-between

    width: 618px
    height: 60px
  &__left-block a
    display: flex
    align-items: center
    justify-content: center
  &__nav-links
    font-family: 'InterR'
    font-size: 24px
    color: white
    width: 337px
    height: 29px
  & ul
    display: flex
    justify-content: space-between
    & li
      transition: color .2s ease-in-out
      & a
        transition: color .3s ease-in-out
      & a.active
        color: $fiolColor
    & li:hover
      color: $fiolColor
